body {
  background-image: url("hehhee_PPPP.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #000000;
  margin: 0;
  font-size: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

nav {
  height: 80px;
  align-content: center;
  display: block;
  border-bottom: 1px solid black;
  text-align: center;
  vertical-align: middle;
  min-width: 800px;
}

.box {
  width: 30.3333%;
  display: inline-block;
  padding: 1%;
}

.btn {
  padding: 10px 20px;
  font-size: 12px;
  border: none;
  background-color: transparent;
}

.btn.random {
  background-color: #000000;
  color: #f1f1f1;
  border-radius: 5px;
}

.mid {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: +4px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

main div {
  text-align: center;
  font-size: 100px;
  position: relative;
  align-content: center;
}

h1 {
  font-size: 400%;
  text-align: center;
  vertical-align: top;
  margin: auto;
  position: relative;
  /* top: -100px; */
  z-index: 1;
}

.cta {
  position: relative;
  top: -150px;
}

p {
  font-size: 24%;
  max-width: 800px;
  display: inline-block;
  text-align: center;
  position: relative;
  top: -100px;

}

.takeMe {
  background-color: #000000;
  color: #f1f1f1;
  border-radius: 5px;
  z-index: 9999;
}

.findOutMore {
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  border: 1px solid black;
  z-index: 9999;
}

/* 
div img {
  position: absolute;
  top: +10%;
  z-index: 0;
}

footer {
  position: relative;
} */