body {
  background-color: #d1d1ff;
  color: #000000;
  margin: 0;
  font-size: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.box {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid white;
  width: 100%;
}

h1 {
  font-size: 60px;
}

img {
  width: 100%;
}

/* 
div > * {
  vertical-align: center;
  line-height: normal;
} */

.right {
  background-color: rgb(50, 52, 180);
  color: aliceblue;
  width: 60%;
  font-size: 20px;
  box-sizing: border-box;
  display: inline-block;
  padding: 20px;
  border: 1px solid white;
}


.left {
  background-color: rgb(50, 52, 180);
  color: aliceblue;
  width: 40%;
  font-size: 20px;
  border: 1px solid white;
  box-sizing: border-box;
  display: inline-block;
  padding: 20px;
  border: 1px solid white;
}

span {
  width: 33.3333%;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid white;
}