body {
  background-color: #d1d1ff;
  color: #000000;
  margin: 0;
  font-size: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  justify-content: top;
  align-items: top;
}

.box {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid white;
  width: 100%;
  height: auto;
  position: relative;
  align-content: center;

}

h1 {
  font-size: 60px;
}

img {
  width: 100%;
  height: fit-content;
}


.box>* {
  vertical-align: top;
  line-height: normal;
}

.right {
  width: 60%;
  box-sizing: border-box;
  display: inline-block;
}

.right span {

  background-color: rgb(50, 52, 180);
  color: aliceblue;
  width: 33.3333%;
  height: inherit;
  font-size: 20px;
  box-sizing: border-box;
  display: inline-block;
  padding: 20px;
  border: 1px solid white;
  border-radius: 20px;
}


.left {
  background-color: rgb(50, 52, 180);
  color: aliceblue;
  width: 40%;
  font-size: 20px;
  border: 1px solid white;
  box-sizing: border-box;
  display: inline-block;
  padding: 20px;
  border: 1px solid white;
}