<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <script src="app.js" defer></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container-sm text-center">

    <div class=" row align-items-center">

      <div class="col"></div>

      <div class="card col-10 mt-5">
        <div class="card-header row">
          Paskyra
        </div>
        <form class="card-body" data-logout>
          <p>Atsijungti nuo paskyros, <b>{{userName}}</b>?</p>
      
      <div class="row">
        <div class="col"></div>
        <button id="logout" class="btn btn-outline-primary col-4 mb-3" type="button">Atsijungti</button>
        <div class="col"></div>
      </div>
      </form>
    </div>

    <div class="col"></div>

  </div>

  <div class="row align-items-center mt-3">
    <div class="col"></div>
    <div class="col" id="liveAlertPlaceholder"></div>
    <div class="col"></div>
  </div>
  </div>



</body>

</html>