/* Colors: */
$blue-light: #67C3F3;
$blue-dark: #5A98F2;
$blue: #458FF6;
$black: #000000;
$white: #FFFFFF;
$grey: #7D7987;

/* Fonts: */
$main-font: "Mulish", sans-serif;

$h1: 48px;
$h2: 36px;
$h3: 34px;
$h4: 22px;

$sh1: 18px;
$sh2: 16px;


/* Dimensions: */
$xxl: 1600px;
$xl: 1220px;
$m: 1120px;
$s: 350px;

$gap-min: 34px;
$gap-mid: 40px;
$gap-max: 92px;
$header-height: 92px;
$landing-height: 632px;


/* Reset: */

html,
body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.5;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $main-font;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Code: */

body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  /* max-width: $xxl; */
  position: relative;


}


button:first-of-type {
  width: 200px;
  height: 56px;
  color: $blue;
  font-size: $sh1;
  font-weight: bold;
  border-radius: 50px;
  background-color: $white;
  border: 1px solid $blue;
  margin-top: $gap-min;
  margin-bottom: $gap-min;

  &:hover {
    background-color: $blue;
    color: $white;
  }
}

header {
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: center;
  background-color: $white;

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $xl;
    /* padding: 0 $gap-max; */

    &__right {
      nav ul {
        width: 545px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $gap-max;

        li a {
          color: $grey;
          font-size: $sh1;
          font-weight: 400;
          transition: all 0.3s easy;

          &:hover {
            color: $black;
            font-weight: bold;
          }
        }
      }
    }

    &__left {
      display: flex;
      align-items: center;
      flex-direction: column;
      color: $white;

      svg {
        width: 160px;
        height: 41px;
        stroke: none;
      }
    }
  }
}

.hero {
  display: flex;
  height: 598px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: $xl;
  margin: auto;
  position: relative;
  right: 0;
  top: 54px;

  &__bg {
    width: 132px;
    height: 115px;
    position: absolute;
    top: -17px;
    left: -240px;
  }

  &__content {
    width: 693px;
    height: 598px;
    position: absolute;
    right: -27px;
  }

  &__text-block {
    width: 445px;
    height: 337px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;

    & h1 {
      font-size: $h1;
    }

    & p {
      font-size: 21px;
      color: $grey;
      font-weight: 300;
    }

  }

  &__content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  flex-wrap: wrap;
  position: relative;
  max-width: $xl;

  &__text-centered {
    width: 100%;
    min-width: $m;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    & h2 {
      font-size: $h2;
      margin-bottom: $gap-min;
    }

    & p {
      font-size: $sh2;
      color: $grey;
      font-weight: 300;
      max-width: 600px;
    }
  }

  &__divider {
    background-color: #000000;
    width: 56px;
    height: 2px;
    margin-top: $gap-min;
    margin-bottom: $gap-min;
  }

  &__text-block {
    width: 445px;
    height: 337px;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;

    & h1 {
      font-size: $h1;
    }

    & p {
      font-size: 21px;
      color: $grey;
      font-weight: 300;
    }

  }

  &__bin {
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: $m;
    row-gap: $gap-min;
    padding: 0 $gap-min;

    &__card {
      display: flex;
      flex-direction: column;
      padding: $gap-mid;
      max-width: 350px;
      height: 354px;
      box-sizing: border-box;
      background-color: $white;
      border-radius: 20px;
      box-shadow: 10px 40px 50px 0px #E5E9F666;
      background-color: $white;
      justify-content: space-between;

      &__top {
        height: 50%;
        display: flex;
        flex-direction: column; // stack contents vertically
        justify-content: center; // center vertically within top half
        align-items: flex-start; // align all contents to the left
        width: 100%;

        img {
          display: block;
          margin-left: 0;
          max-width: 100%;
          max-height: 100%;
        }
      }

      &__bot {
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start; // align left
        justify-content: flex-start; // align to the top
        width: 100%;

        h1,
        p {
          margin: 0;
        }
      }
    }

    &__card2 {
      display: flex;
      flex-direction: column;
      padding: $gap-mid;
      max-width: 350px;
      height: 512px;
      box-sizing: border-box;
      background-color: $white;
      border-radius: 20px;
      box-shadow: 10px 40px 50px 0px #E5E9F666;
      background-color: $white;
      justify-content: space-between;

      &__top {
        margin: 0px;
        height: 50%;
        display: flex;
        flex-direction: column; // stack contents vertically
        justify-content: center; // center vertically within top half
        align-items: flex-start; // align all contents to the left
        width: 100%;

        img {
          display: block;
          margin-left: 0;
          max-width: 100%;
          max-height: 100%;
          overflow: hidden;
        }
      }

      &__bot {
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start; // align left
        justify-content: flex-start; // align to the top
        width: 100%;

        a {
          font-weight: 600;
          color: $blue;
          text-align: center;
          bottom: 0;
        }

        h1,
        p {
          margin: 0;
        }
      }
    }

  }

  &__content {
    position: absolute;
    left: -257px;
    z-index: -10;
    width: 1119px;
    height: 968px;
  }

  &__content2 {
    position: absolute;
    right: -257px;
    top: -250;
    z-index: -10;
    width: 1119px;
    height: 968px;
  }

  /* 
  &__content:nth-of-type(0) {
    width: 1119px;
    height: 968px;
    position: absolute;
    z-index: -10;
    position: absolute;
    left: -257px;
  }

  &__content:nth-of-type(1) {
    width: 1119px;
    height: 968px;
    z-index: -10;
    position: absolute;
    right: -257px;
    rotate: 180;
  } */


  /*   &__bg {
    width: 132px;
    height: 115px;
    position: absolute;
    top: 0;
    left: 0;
  } */

  &__bg {
    width: 132px;
    height: 115px;
    // kodėl pozicija absolute turi būti nurodoma atskirai?

    :nth-of-type(0) {
      position: absolute;
      top: 0;
      right: 0;
    }

    :nth-of-type(1) {
      position: absolute;
      top: 0;
      right: 0;
    }

    :nth-of-type(2) {
      position: absolute;
      top: 0;
      right: 0;
    }

    :nth-of-type(3) {
      position: absolute;
      top: 0;
      right: 0;
    }
    :nth-of-type(4) {
      position: absolute;
      top: 0;
      right: 0;
    }
    :nth-of-type(5) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__btn {
    width: 100%;
    justify-content: center;
    display: flex;
  }

}

main {
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  flex-wrap: wrap;
}

.testimony {
  top: 54px;
  background-image: linear-gradient(45deg, $blue-dark, $blue-light);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  height: 425px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: $m;
  position: relative;
  color: $white;

  &__text-centered {
    width: 100%;
    min-width: $m;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__divider {
    background-color: $white;
    width: 56px;
    height: 2px;
    margin-top: $gap-min;
    margin-bottom: $gap-min;
  }

  &__bin {
    width: 100%;
    min-width: $m;
    display: flex;
    align-items: center;

    &__left {
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;

      &__photo {
        margin: $gap-min;
        border-radius: 50%;
        border: $white solid 4px;
        overflow: hidden;
        width: 133px;
        height: 133px;
      }

      &__credentials {
        text-align: left;

        h3 {
          font-size: $h4;
        }
      }
    }

    &__right {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: $gap-min;
    }
  }


}


footer {
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: center;
  background-color: $white;
}