/* :root {
  --button-width: 60px;
}  */

body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
// <weight>: Use a value from 200 to 1000
// <uniquifier>: Use a unique and descriptive class name

/* .mulish-<uniquifier> {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */