/* Colors: */
$blue-light: #67C3F3;
$blue-dark: #5A98F2;
$blue: #458FF6;
$black: #000000;
$white: #FFFFFF;
$grey: #7D7987;
$gradient: linear-gradient(45deg, $blue-dark, $blue-light);

/* Fonts: */
$main-font: "Mulish", sans-serif;

$h1: 48px;
$h2: 36px;
$h3: 34px;
$h4: 22px;

$sh1: 18px;
$sh2: 16px;


/* Dimensions: */
$xxl: 1600px;
$xl: 1220px;
$m: 1120px;
$s: 350px;

$gap-min: 34px;
$gap-mid: 42px;
$gap-max: 72px;
$header-height: 92px;
$landing-height: 632px;


/* Reset: */

html,
body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.5;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $main-font;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Code: */

body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* max-width: $xxl; */
  position: relative;
  overflow-x: hidden;
}


#app {
  max-width: $xxl;
  overflow: visible;
  justify-content: center;
  column-gap: $gap-max;
}


button:first-of-type {
  width: 200px;
  height: 56px;
  color: $blue;
  font-size: $sh1;
  font-weight: bold;
  border-radius: 50px;
  background-color: $white;
  border: 1px solid $blue;
  margin-top: $gap-max;
  /* margin-bottom: $gap-max; */

  &:hover {
    background-color: $blue;
    color: $white;
  }
}

header {
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: center;
  background-color: $white;
  margin-bottom: 100px;

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $xl;
    /* padding: 0 $gap-max; */

    &__right {
      nav ul {
        width: 545px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $gap-max;

        li a {
          color: $grey;
          font-size: $sh1;
          font-weight: 400;
          transition: all 0.3s easy;

          &:hover {
            color: $black;
            font-weight: bold;
          }
        }
      }
    }

    &__left {
      display: flex;
      align-items: center;
      flex-direction: column;
      color: $white;

      svg {
        width: 160px;
        height: 41px;
        stroke: none;
      }
    }
  }
}

.hero {
  display: flex;
  height: 598px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: $xl;
  margin: auto;
  position: relative;
  /* right: 0;
  top: 54px; */

  &__bg {
    width: 132px;
    height: 115px;
    position: absolute;
    top: -17px;
    left: -240px;
  }

  &__content {
    width: 693px;
    height: 598px;
    position: absolute;
    right: -27px;
  }

  &__text-block {
    width: 445px;
    height: 337px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;

    & h1 {
      font-size: $h1;
    }

    & p {
      font-size: 21px;
      color: $grey;
      font-weight: 300;
    }

  }

  &__content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.container {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  justify-self: center;
  flex-wrap: wrap;
  position: relative;
  max-width: $xl;
  z-index: 1;


  &__footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    align-self: center;
    justify-content: space-evenly;

    &__left {
      width: 391px;
      /* height: 201px; */
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-self: center;
      gap: $gap-min;
    }

    &__right {
      align-self: center;
      color: $white;
      display: flex;
      flex-wrap: wrap;
      width: 638px;
      height: inherit;
      justify-content: space-evenly;
      gap: $gap-min;

      a {
        color: $white;
        text-align: center;
        bottom: 0;

        img {
          column-gap: $gap-min;
        }

      }

      h1,
      p {
        margin: 0;
      }

      &__bin {
        display: flex;
        flex-wrap: wrap;
        width: 120px;

        ul {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
        }
      }
    }
  }

  &__text-centered {
    width: 100%;
    min-width: $m;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 2;
    justify-self: inherit;

    & h2 {
      font-size: $h2;
      margin-bottom: $gap-min;
    }

    & p {
      font-size: $sh2;
      color: $grey;
      font-weight: 300;
      max-width: 600px;
    }
  }


  &__divider {
    width: 100%;
    margin-top: $gap-min;
    margin-bottom: $gap-min;
    z-index: 2;
    justify-self: inherit;

    div {
      justify-self: inherit;
      background-color: #000000;
      width: 56px;
      height: 2px;
    }
  }

  &__text-block {
    width: 445px;
    height: 337px;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;

    & h1 {
      font-size: $h1;
    }

    & p {
      font-size: 21px;
      color: $grey;
      font-weight: 300;
    }

  }

  &__bin {
    width: 100%;
    /* max-width: 350px; */
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: $m;
    row-gap: $gap-min;
    /* padding: 0 $gap-min; */
    z-index: 1;
    column-gap: $gap-min;

    &__card {
      display: flex;
      flex-direction: column;
      padding: $gap-mid;
      max-width: 350px;
      height: 354px;
      box-sizing: border-box;
      background-color: $white;
      border-radius: 20px;
      box-shadow: 10px 40px 50px 0px #E5E9F666;
      background-color: $white;
      justify-content: space-between;

      &__top {
        height: 50%;
        display: flex;
        flex-direction: column; // stack contents vertically
        justify-content: center; // center vertically within top half
        align-items: flex-start; // align all contents to the left
        width: 100%;

        img {
          display: block;
          margin-left: 0;
          max-width: 100%;
          max-height: 100%;
        }
      }

      &__bot {
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start; // align left
        justify-content: flex-start; // align to the top
        width: 100%;

        h1,
        p {
          margin: 0;
        }
      }
    }

    &__card2 {
      display: flex;
      flex-direction: column;
      max-width: 350px;
      height: 512px;
      box-sizing: border-box;
      background-color: $white;
      border-radius: 20px;
      box-shadow: 10px 40px 50px 0px #E5E9F666;
      background-color: $white;
      justify-content: space-between;

      &__top {
        margin: 0px;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;

        img {
          display: block;
          margin-left: 0;
          max-width: 100%;
          max-height: 100%;
          overflow: hidden;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
        }
      }

      &__bot {
        padding: $gap-mid;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        align-items: center;
        justify-content: flex-start;
        width: 80%;

        a {
          font-weight: 600;
          color: $blue;
          text-align: center;
          bottom: 0;


          img {
            margin-left: 15px;
          }

        }


        h1,
        p {
          margin: 0;
        }
      }
    }


  }

  &__content {
    position: absolute;
    left: -257px;
    z-index: 0;
    width: 1119px;
    height: 968px;
  }

  &__content2 {
    position: absolute;
    /* right: -1176px; */
    right: -614px;
    top: -60px;
    z-index: -1;
    width: 1119px;
    height: 968px;
    rotate: 180deg;
    scale: 0.8;
  }

  &__bg1 {
    position: absolute;
    top: 556px;  
    right: 0;
  }
  &__bg2 {
    position: absolute;
    top: -156px;  
    right: -241px;
  }
  &__bg3 {
    position: absolute;
    top: 156px;  
    left: 0;
  }
  &__bg4 {
    position: absolute;
    bottom: -250px;  
    right: -147px;
  }
  &__bg5 {
    position: absolute;
    top: -400px;
    left: 0;
    z-index: -999;
  }

  &__btn {
    width: 100%;
    justify-content: center;
    display: flex;
  }

}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  flex-wrap: wrap;
  gap: 200px;
}

.testimony {
  background-image: $gradient;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  height: 425px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: $m;
  position: relative;
  color: $white;
  z-index: 2;
  overflow: hidden;

  &__bg {
    position: absolute;
    color: $white;
    filter: brightness(9);
    top: 0px;
    right: -45px;
    scale: 1.2;
  }

  &__text-centered {
    width: 100%;
    min-width: $m;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__divider {
    background-color: $white;
    width: 56px;
    height: 2px;
    margin-top: $gap-min;
    margin-bottom: $gap-min;
  }

  &__bin {
    width: 100%;
    min-width: $m;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &__left {
      margin-left: $gap-max;
      margin-right: $gap-min;
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;

      &__photo {
        /* margin: $gap-min; */
        border-radius: 50%;
        border: $white solid 4px;
        overflow: hidden;
        width: 133px;
        height: 133px;
      }

      &__credentials {
        padding-left: $gap-min;
        text-align: left;

        h3 {
          font-size: $h4;
        }
      }
    }

    &__right {
      margin-left: $gap-min;
      margin-right: $gap-max;
      width: 100%;
      /* width: 422px; */
      display: flex;
      justify-content: center;
      text-align: left;
      align-items: center;

      /* justify-content: center; */
      /* margin: $gap-min;
      padding-right: 20px; */
      p {
        max-width: 422px;
        font-size: 19px;
        font-weight: 300;
      }
    }
  }


}


footer {
  margin-top: 200px;
  width: 100%;
  height: 432px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: $gradient;
  color: $white;
  align-items: center;
  align-self: center;
}