/* Colors: */
/* Fonts: */
/* Dimensions: */
/* Reset: */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Mulish", sans-serif;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Code: */
body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.btn {
  width: 200px;
  height: 56px;
  background-color: #458FF6;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px;
  border: none;
}

header {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
}

header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  padding: 0 72px;
}

header .menu__right nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

header .menu__right nav ul li a {
  color: #7D7987;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s easy;
}

header .menu__right nav ul li a:hover {
  color: #000000;
  font-weight: bold;
}

header .menu__left {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
}

header .menu__left svg {
  width: 160px;
  height: 41px;
  stroke: none;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  padding: 0 72px;
}

.hero img {
  width: 693px;
  height: 598px;
}

.hero__text-block {
  width: 445px;
  height: 337px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.hero__text-block h1 {
  font-size: 48px;
}

.hero__text-block p {
  font-size: 21px;
  color: #7D7987;
  font-weight: 300;
}

.hero__content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  flex-wrap: wrap;
}

.container__text-centered {
  width: 100%;
  min-width: 1120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 72px;
}

.container__text-centered h2 {
  font-size: 36px;
  margin-bottom: 34px;
}

.container__text-centered p {
  font-size: 16px;
  color: #7D7987;
  font-weight: 300;
  max-width: 600px;
}

.container__bin {
  width: 100%;
  max-width: 350px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1120px;
  row-gap: 34px;
  padding: 0 34px;
}

.container__bin__card {
  padding: 72px;
  max-width: 350px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 3px 3px 20px 0px #7D7987;
  /* justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-direction: column; */
}

.container__bin__card img {
  object-fit: cover;
  border-radius: 20px;
}

.container__divider {
  background-color: #000000;
  width: 56px;
  height: 2px;
}

.container__text-block {
  width: 445px;
  height: 337px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.container__text-block h1 {
  font-size: 48px;
}

.container__text-block p {
  font-size: 21px;
  color: #7D7987;
  font-weight: 300;
}

main {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  flex-wrap: wrap;
}

/*
main {
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  flex-wrap: wrap;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: $xl;
    padding: 0 $gap-max;

    &img {
      width: 693px;
      height: 598px;
    }

    &__text-block {
      width: 445px;
      height: 337px;
      display: flex;
      justify-content: left;
      align-items: center;
      flex-wrap: wrap;

      & h1 {
        font-size: $h1;
      }

      & p {
        font-size: 21px;
        color: $grey;
        font-weight: 300;
      }

    }

    &__btn {
      width: 200px;
      height: 56px;
      background-color: $blue;
      color: $white;
      font-size: $sh1;
      border-radius: 50px;
      border: none;
    }

    &__content {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__card {
      width: 350px;
      height: 356px;
      background-color: $white;
      border-radius: 20px;
      display: flex;
      flex-wrap: wrap;

      &img {
        width: 100%;
      }
    }

  }
} */
footer {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
}
