body {
  background: url("hummingbird.png") no-repeat center fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  height: 100%;
  backdrop-filter: blur(4px);
  background-color: #ffffff5e;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  font-size: 18px;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;

}

.navbar a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  transition: 0.3s;

}

.navbar a:hover {
  text-decoration: none;
  color: #4e012a;
  font-weight: bold;
  transition: 0.3s;
}

.actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.action-button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  border-radius: 20px;
  background-color: #4e012a;
  color: #ffffff;
  align-items: center;
  height: 40px;
}

.email {
  background-color: #ffffff;
  color: #4e012a;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.login {
  background-color: #4e012a;
  color: #ffffff;
  margin-right: 7px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  text-align: center;
}

.headline {
  font-size: 3rem;
  color: #4e012a;
  letter-spacing: 2px;
  margin: 0 auto;
}

.subhead {
  font-size: 1.3rem;
  color: #272727;
  font-weight: 100;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  justify-content: center;
  gap: 1rem;


}

.cta {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  padding: 10px;
}

.subscribe-form input[type="email"] {
  padding: 10px;
  border-radius: 20px;
  border: none;
  align-items: center;
  width: 20%;
}

.action-button .secondary {
  border: 1px solid #4e012a;
  color: #4e012a;
  background-color: none;
}